<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <link rel="stylesheet" href="/css/login.css">
    <form id="form-login" method="POST" action="/admin/login">
        <div>
            <label for="email">
                E-mail
                <input type="text" name="email" id="email">
            </label>
        </div>
        <div>
            <label for="senha">
                Senha:
                <input type="password" name="senha" id="senha">
            </label>
        </div>
        <div class="controles">
            <a href="/adm/forgot">Esqueci minha senha</a>
            <button type="submit">Entrar</button>
        </div>
    </form>
</body>
</html>