<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<link rel="stylesheet" href="/css/index.css">
	<form>
		<input type="text" name="busca" placeholder="Qual pizza você procura?" autocomplete="off">
		<button type="submit">Buscar</button>
	</form>
	<main>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
		<article>
			<img src="img/pepperoni.jpg" alt="Pepperoni">
			<a href="/pizzas/4">Ver Mais</a>
			<button>+ Add</button>
			<div>Pepperoni</div>
			<span>R$ 54,00</span>
		</article>
	</main>
</body>
</html>