<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<link rel="stylesheet" href="/css/pizza.css">
	<main>
		<h1>Fracatu</h1>
		<h2>R$ 60,00</h2>
		<img src="/img/fracatu.jpg" alt="Fracatu">
		<div>Ingredientes: Mussarela, frango desfiado, requeijão</div>
		<button>+ Add</button>
		<a href="/pizzas/3" class="prev">&lt;</a>
		<a href="/pizzas/5" class="next">&gt;</a>
	</main>
</body>
</html>