#form-usuario {
	width: 960px;
	margin: 5vh auto;
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
	padding: 50px;
	display: flex;
	justify-content: space-between;
}

#form-usuario>label{
	width: calc((100% - 20px) / 2);
	position: relative;
}

#form-usuario>label img{
	width: 100%;
	display: block;
	margin-top: 5px;
	cursor: pointer;
}

#form-usuario .campos{
	width: calc((100% - 20px) / 2);
	display: flex;
	flex-direction: column;
}

#form-usuario .campos label {
	display: block;
	margin-bottom: 20px;
}

#form-usuario label input {
	display: block;
	padding: 5px;
	border: none;
	margin-top: 5px;
	font-size: 1.2rem;
	width: 100%;
}



#form-usuario label input[type="file"]{
	display: none;
}

#form-usuario label div{
	width: 100%;
	display: block;
	font-size: 1rem;
	background-color: rgba(0, 0, 0,0.5);
	color: white;
	border: none;
	padding: 10px 20px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	text-align: center;
}

#form-usuario button{
	display: block;
	font-size: 1rem;
	background-color: rgb(255, 81, 0);
	color: white;
	border: none;
	padding: 10px 20px;
	width: 100%;
	margin-top: auto;
	cursor: pointer;
}