form {
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 440px;
}

form input{
	flex-grow: 1;
	padding: 10px;
	font-size: 2rem;
	background-color: rgb(200,200,200);
	border: none;
	margin-right: 5px;
	transition: background-color 0.3s linear;
}

form input:focus{
	outline: 3px solid rgb(255, 81, 0);
	background-color: rgb(255,255,255) ;
}

form button{
	flex-grow: 0;
	flex-shrink: 0;
	width: 25%;
	font-size: 2rem;
	background-color: rgb(255, 81, 0);
	color: white;
	border: none;
}

main {
	margin: 100px 20px 20px 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	column-gap: 10px;
	row-gap: 10px;
	min-width: 440px;
}

main article {
	position: relative;
	display: flex;
}

main article img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main article div{

	position: absolute;
	top: 10px;
	left: 0;
	font-size: 1.5rem;
	background-color: white;
	color: black;
	padding: 10px;
	opacity: 0.8;
}

main article span{
	position: absolute;
	top: 50px;
	left: 0;
	font-size: 1.0rem;
	background-color: black;
	color: white;
	padding: 5px;
}

main article button{
	position: absolute;
	bottom: 10px;
	right: 0;
	background-color: rgb(255, 81, 0);
	border: none;
	color: white;
	padding: 10px 20px;
	font-size: 1.5rem;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s linear;
}

main article button:focus{
	outline: 3px solid rgb(255, 81, 0);	
}

main article:hover button{
	opacity: 0.8;
}


main article:hover button:hover{
	opacity: 1;
}

main article a{
	display: block;
	position: absolute;
	bottom: 10px;
	right: left;
	background-color: rgb(45, 129, 255);
	border: none;
	color: white;
	padding: 10px 20px;
	font-size: 1.5rem;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s linear;
	text-decoration: none;
}

main article a:focus{
	outline: 3px solid rgb(255, 81, 0);	
}

main article:hover a{
	opacity: 0.8;
}

main article:hover a:hover{
	opacity: 1;
	text-decoration: none;
}

@media (max-width:1090px){
	main {
		grid-template-columns: repeat(3,1fr);
	}
}

@media (max-width:820px){
	main {
		grid-template-columns: repeat(2,1fr);
	}

	form input{
		font-size: 1.5rem;
	}
		
	form button{
		font-size: 1.5rem;
	} 
}

@media (max-width:570px){
	main {
		grid-template-columns: 1fr;
	}

	form input{
		font-size: 1rem;
	}
		
	form button{
		font-size: 1rem;
	} 

}

.pizza-nao-encontrada{
	background-color: black;
	color: #FFF;
	width: 320px;
	margin: 120px auto;
	padding: 20px;
	font-size: 1.5rem;
	text-align: center;
}