#nav-adm{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #FFF;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#nav-adm div{
    padding: 10px;
    font-size: 2rem;
}
#nav-adm div span{
    font-size: 0.8rem;
    display: block;
}
#nav-adm ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#nav-adm ul li {
    display: block;
}

#nav-adm ul li a{
    display: flex;
    padding: 20px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #666;
}

#nav-adm ul li.selected a{
    background-color: rgba(255,255,255,0.2);
    color: #FFF;
}

#nav-adm ul li a:hover{
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    color: #E0E0E0;
}