* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html{
	font-size: 16px;
}

body {
	margin: 0;
}

body::before{
	content: "";
	position: fixed;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	background-image: url(../img/bg.jpeg);
	filter: brightness(0.3);
	background-size: cover;
	z-index: -1;
}

button {
	background-color: rgb(255, 81, 0);
	border: none;
	color: white;
	padding: 0;
	font-size: 1.5rem;
	cursor: pointer;
}
