<link rel="stylesheet" href="/css/nav-adm.css">
<nav id="nav-adm">
    <div>
        Pizzaria Fantástica
        <span>
            Área Administrativa
        </span>
    </div>
    <ul>
        <li><a href="/pedidos">Pedidos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li class="selected"><a href="/pizzas">Pizzas</a></li>
        <li><a href="/users">Usuários</a></li>
        <li><a href="/adm/logout">Sair</a></li>
    </ul>
</nav>